body, html {
   
    font-family: 'Montserrat', sans-serif; 

	height:100%;

	background-image: url("./dataFiles/lakeOntarioDawn.jpg");
	background-position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
h2{
	font-size: 3vw;
	text-align: center;
	padding: 10px;
}
a{
	color: #2c333f;
}
.aboutMe{
    margin-top: 40px;
    border-style: solid;
    text-align: center;
    background: rgb(125, 138, 160, 0.6);
}
.links{
    border-style: solid;
    background: rgb(126, 168, 234, 0.6);    
    text-align: center;
    padding: 10;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.06em; 
    line-height:15px;
}

.contact{

    text-align: center;
    margin: 40px;
}
